$tablet-breakpoint: 48rem;
$desktop-breakpoint: 80rem;



$main-pink: #fb6d6c;      
$main-purple: #8a2be2;  

$light-pink: #ffb6c1;      
$dark-pink: #e75480;      

$main-grey: #666f80;      
$light-grey: #d3d3d3;      
$dark-grey: #2f4f4f;        

$bright-teal: #20b2aa;    
$cream: #fffdd0;           

$primary-bg: #fff;         
$secondary-bg: #f5f5f5;    
