@use '../../styles/partials/global' as *;

.popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
  
    &__content {
      background-color: white;
      padding: 2rem;
      border-radius: 0.5rem;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
      text-align: center;
    }

    &__title{
        padding: 1rem;
        font-size: 1.5rem;
    }

    &__note{
        padding: 1rem;
    }

    &__close{
        width: 30%;
    }
  }
  